<div>
  <span><b>&bull; Funds</b></span>
  <span><%= number_with_delimiter(stats[:funds].to_i) %></span>
</div>
<div>
  <span><b>&bull; Science</b></span>
  <span><%= number_with_delimiter(stats[:science].to_i) %></span>
</div>
<div>
  <span><b>&bull; Reputation</b></span>
  <span><%= number_with_delimiter(stats[:reputation].to_i) %></span>
</div>
